<!DOCTYPE html>
<html>
<head>
    <title>{% if form.instance.pk %}Update Observation{% else %}Create Observation{% endif %}</title>
</head>
<body>
    <h1>{% if form.instance.pk %}Update Observation{% else %}Create Observation{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% if form.instance.pk %}Update{% else %}Create{% endif %}</button>
    </form>
    <a href="{% url 'observation_list' %}">Back to Observation List</a>
</body>
</html>
