<!DOCTYPE html>
<html>
<head>
    <title>Ore Microscopy List</title>
</head>
<body>
    <h1>Ore Microscopy List</h1>
    
    <!-- Arama Formu -->
    <form method="get">
        <label for="search">Search:</label>
        <input type="text" name="search" id="search">
        <button type="submit">Search</button>
    </form>
    
    <table border="1">
        <thead>
            <tr>
                <th>Sample ID</th>
                <th>Mineral Type</th>
                <th>Mineral Texture</th>
                <th>Mineral Abundance</th>
                <th>Alteration Type</th>
                <th>Alteration Intensity</th>
                <th>Observation</th>
                <th>Microscope ID</th>
                <th>Microscope Model</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for ore_microscopy in ore_microscopies %}
                <tr>
                    <td>{{ ore_microscopy.SampleID }}</td>
                    <td>{{ ore_microscopy.MineralType }}</td>
                    <td>{{ ore_microscopy.MineralTexture }}</td>
                    <td>{{ ore_microscopy.MineralAbundance }}</td>
                    <td>{{ ore_microscopy.AlterationType }}</td>
                    <td>{{ ore_microscopy.AlterationIntensity }}</td>
                    <td>{{ ore_microscopy.Observation }}</td>
                    <td>{{ ore_microscopy.MicroscopeID }}</td>
                    <td>{{ ore_microscopy.MicroscopeModel }}</td>
                    <td>{{ ore_microscopy.Description }}</td>
                    <td>
                        <a href="{% url 'ore_microscopy_update' ore_microscopy.id %}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
